# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Remove Visual Code Junk Files
*.vscode

# Remove Proto
*.pb.cc
*.pb.h

# Executables
*.exe
*.out
*.app
